.main {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.main-wrapper {
  flex-basis: 75%;
  padding: 1.25rem;
  background-color: var(--white);
  box-shadow: var(--standard-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.operation-note {
  margin: 0.5rem;
}

.error {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: var(--primary);
}
