.main {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.main-wrapper {
  flex-basis: 75%;
  padding: 1.25rem;
  background-color: var(--white);
  box-shadow: var(--standard-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.operation-header {
  font-size: 1.75rem;
  color: var(--dark-font-color);
}
