.num-input {
    margin: 1rem;
    padding: 0.5rem;
    width: 80px;
    border: 2px solid rgb(147, 147, 147);
    border-radius: 7px;
    outline-color: rgb(57, 57, 57);
}

.matrix-entry {
    margin: 0.25rem;
}