.header {
  width: 100vw;
  padding: 0 1.5rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  height: 70px;
  box-shadow: var(--standard-box-shadow);
}

.title {
  font-size: 2.5rem;
  color: var(--dark-font-color);
}

.header > a {
  font-size: 1rem;
  color: var(--dark-font-color);
}

.header-images {
  height: 2rem;
  cursor: pointer;
  filter: invert(26%) sepia(0%) saturate(32%) hue-rotate(251deg) brightness(99%) contrast(83%);
  -webkit-filter: invert(26%) sepia(0%) saturate(32%) hue-rotate(251deg) brightness(99%) contrast(83%);
}
